<header id="header" class="clean">
  <div class="menu">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarCollapse-2" aria-controls="navbarCollapse-2" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>


    <nav class="navbar navbar-expand-md bg-dark bg-primary">
      <a href="/" class="navbar-brand">
        <%= image_tag "mmblogo.jpeg", height: 40 %>
      </a>
      <%= form_tag "/search", class: "form-inline mt-2 mt-md-0 col-md-6", id: "search-form", method: :get do |f| %>
        <%= text_field_tag :q, params[:q], class: "form-control mr-sm-2 width100", placeholder: "Search for products and services" %>
        <span class="glyphicon glyphicon-search" onclick="$('#search-form').submit();"></span>
      <% end %>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button> -->
      <div class="collapse navbar-collapse justify-content-md-right" id="navbarCollapse">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.first_name, dashboard_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>        
            </li>
            <li class="nav-item">
              <% if current_user.is_vendor? %>
                <%= link_to "You are a Seller!", "javascript:void", class: "nav-link" %>
              <% else %>
                <%= link_to "Be a Seller?", "#vendor-type-popup", "data-toggle": :modal, class: "nav-link" %>
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Be a Seller?", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link" href="/wishlist"><i class="fa fa-heart"></i><span class="sr-only">(current)</span><span class="badge wishlists-count"><%= current_user.wishlists.count rescue nil%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= carts_path %>"><i class="fa fa-shopping-cart"></i><span class="sr-only">(current)</span><span class="badge"><%= current_cart.cart_items.count rescue nil%></span></a>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="menu" class="mega-menu navbar navbar-expand-md">
      <section class="menu-list-items navbar_size">
        <div class="container111"> 
          <div class="row"> 
            <div class="col-lg-12 col-md-12">

              <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
              </button>

              <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarCollapse-2" aria-controls="navbarCollapse-2" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
              </button> -->


              <div class="collapse navbar-collapse justify-content-md-right" id="navbarCollapse-2">

                <ul class="menu-links">
                  <% ServiceCategory.active.each do |service_category| %>
                    <li class="main-category <% if params[:scrollto] == "service-category-#{service_category.id}" %>active<% end %>">
                      <a class="color" href="/categories?scrollto=service-category-<%= service_category.id %>&service_category=<%= service_category.id %>"  ><%= service_category.short_name %>  <i class="fa fa-angle-down fa-indicator"></i></a>
                      <div class="drop-down" style="border-top-width: 0px;">
                        <div class="grid-row">
                          <% service_category.main_categories.active.each do |main_category| %>
                            <!-- <div class="grid-col-3"> -->
                              <ul>
                                <li class="dropdown">
                                  <a href="/categories?scrollto=main-category-<%= main_category.id %>&service_category=<%= service_category.id %>"><%= main_category.short_name %></a>
                                  <ul class="dropdown-menu">
                                    <% main_category.categories.active.each do |category| %>
                                      <li>
                                        <%= link_to category.name, category.url %>
                                      </li>
                                    <% end %>
                                   </ul>
                                </li>
                              </ul>
                            <!-- </div> -->
                          <% end %>
                        </div>
                      </div>
                    </li>
                  <% end %>
                </ul>








                <ul class="menu-links pull-right">
                  <li class="main-category">
                    <a class="color" href="/about">About Us</a>
                  </li>
                  <li class="main-category">
                    <a class="color" href="/how-we-work">Our Process</a>
                  </li>
                  <li class="main-category">
                    <a class="color" href="/blogs">Blog</a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
        </div>
      </section>
    </nav>
  </div>
</header>

<style type="text/css">
  .fixed-top-2{
    margin-top: 56px;
  }
  .color:hover{
    color:#ffd800 !important;
  }

  .navbar-expand-md .navbar-collapse.collapse.show .menu-links{
    display: block !important;
    position: relative;
    top: -95px !important;
  }

  #navbarCollapse-2{display: block !important;}

  @media (min-width: 768px){
    button.navbar-toggler{display:none;}
  }

  .mega-menu .menu-links > li:hover{
    background-color: #000;
  }

  .mega-menu .menu-links > li:hover a.color{
    color: #ffd800 !important;
  }

  li.dropdown.open ul{
    display: block;
  }

  li.dropdown:hover ul{
    display: block;
    background: rgba(21, 21, 21, 0.9);
    left: 100%;
    top: 0;
  }
  .drop-down li{
    padding-right: 5px;
  }
  .navbar_size
  {
    height: 50px;
  }
</style>